.head_text {
  text-align: center;
  color: darkseagreen;
  font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
}

.list01 {
  background-color: rgb(120, 228, 231);
}
.list02 {
  background-color: rgb(193, 240, 157);
}
